h1 {
  text-align: center;
  font-size: 42px;
  font-family: sans-serif;
  font-weight: 900;
}

body {
  color: #9ad9e2;
  font-size: 24px;
  background-image: url(../img/bluebg.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
  background-color: #313d96ff;
}

h4 {
  font-style: italic;
  text-align: center;
  color: rgb(255,200,0)
}

a {
  color: #ffb600
}

.panel {
  background-color: rgba(0, 230, 255, 0.2);
}
